{% extends 'todo/base.html' %}
{% block content %}

<form method="POST" action="{% url 'login' %}">
{% csrf_token %}
<!--
	<table>
        <tr>
			<td>{{ form.username.label_tag }}</td>
			<td>{{ form.username }}</td>
        </tr>
        <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
	</table>
-->
	<div class="holder">
		<table class="login_table">
			<tr><td>{{ form.username.label_tag }}</td></tr>
			<tr><td>{{ form.username }}</td></tr>
			<tr><td>{{ form.password.label_tag }}</td></tr>
			<tr><td>{{ form.password }}</td></tr>
		</table>
		<br>
		<input class="btn btn-secondary" type="submit" value="login" />
		<input type="hidden" name="next" value="{{ next }}" />
	</div>
</form>
{% endblock %}